* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.start {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

header {
  background-image: url('../assets/Herobg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

header img {
  max-width: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

header button {
  padding: 10px 20px;
  font-size: 1em;
  border: 0;
  background-color: #151616;
  color: white;
  cursor: pointer;
  flex-grow: 0;
}

#whywebdev {
  margin-top: 50px;
  background-color: #f1f5f5;
  margin: 60px;
  padding: 20px;
}
.webdev {
  text-align: center;
  gap: 20px;
}

.webdev1 {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  background-color: white;
  margin: 90px;
}

.helppeople {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  background-color: white;
  margin: 90px;
}

.Docoding {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  background-color: white;
  margin: 90px;
}

.inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}

.inspiration1 {
  padding-top: 50px;
}
.button {
  padding: 10px;
  margin-top: 20px;
}

.content {
  line-height: 35px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(185, 184, 184);
}

.currentTarget {
  text-align: center;
}

.tech-button {
  border: none;
  text-decoration: underline;
  padding: 0;
  background-color: transparent;
}

.HTML {
  width: 450px;
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  line-height: 30px;
  background-color: bisque;
}

.CSS {
  width: 450px;
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  line-height: 30px;
  background-color: grey;
}
.Javascript {
  width: 450px;
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  line-height: 30px;
  background-color: rgb(213, 228, 228);
}

.tech {
  display: flex;
  justify-content: space-between;
}

.nexTarget {
  text-align: center;
}

.ReactJS {
  max-width: 100%;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.NodeJs {
  max-width: 100%;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.MongoDB {
  max-width: 100%;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.section-3 {
  margin: 40px;
}

.section-4 {
  margin: 40px;
}

.section-5 {
  margin: 40px;
  line-height: 30px;
}

.input-support {
  padding: 15px 50px;
}

.input-button {
  padding: 15px 15px;
}

#support {
  background-image: url('../assets/handshake.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}
